<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="UserRestAPISuite">
<listeners>
	<listener class-name="com.RestAssured.utility.Reporting"></listener>
</listeners> 
  <test thread-count="5" name="UserRestAPISuite">
    <classes>
      <class name="com.RestAssured.testCases.TC001_GET_REQUEST"/>
      <class name="com.RestAssured.testCases.TC002_POST_REQUEST"/>
      <class name="com.RestAssured.testCases.TC003_GET_REQUEST"/>
      <class name="com.RestAssured.testCases.TC004_PUT_REQUEST"/>
      <class name="com.RestAssured.testCases.TC005_DELETE_REQUEST"/> 
      <class name="com.RestAssured.testCases.TC006_GET_REQUEST"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
